# Laravel defaults
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*.php

# Environment & credentials
.env
.env.local
.env.production
.env.testing
/firebase-service-account.json

# Composer & npm artifacts
composer.lock
package-lock.json
npm-debug.log
yarn-error.log

# Docker related
/dbdata
/docker-compose.override.yml
/.docker/*

# IDE / system files
.idea
.vscode
.DS_Store
Thumbs.db

# OS / logs
*.log
*.cache
